:root{
    font-size: 100%;
    text-align: baseline;
}

html{
    display:flex;
    justify-content: center;
    background-color: rgb(211, 227, 253);
}

body{
    display:flex;
    align-items: center;
    width:800px;
    background-color:rgba(228, 235, 247, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(118, 143, 255, 0.5);

}

.complete-page{
    display:flex;
    flex-direction: column;
    width:100%
}

.table-form{
    display:flex;
    justify-content: center;
}

.form-notebook{
    display: flex;
    justify-content: center;
    height:600px;
    width:60%;
}

.notebook-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-left:16px;
    margin-right:16px;
    margin-top: 2.5rem;
    border-radius: 16px;
    
}

.title-field{
    border:none;
    margin-bottom: 8px;
    background-color:rgb(237, 242, 250);
    box-shadow: 0px 4px 8px rgba(216, 212, 213, 0.8);
    color:rgb(58, 129, 242);
    border-radius: 8px;
    text-align: center;
    padding:8px;
    width:100%;
}
.title-field:focus{
    outline:1px solid rgba(216, 212, 213, 0.8);
}
.description-field:focus{
    outline:1px solid rgba(216, 212, 213, 0.8);;
}

.description-field{
    border:none;
    margin-bottom: 24px;
    background-color:rgb(237, 242, 250);
    color:rgb(58, 129, 242);
    resize: none;
    width:100%;
    height:300px;
    box-shadow: 0px 4px 8px rgba(216, 212, 213, 0.8);
    border-radius: 12px;
    padding:8px;
}

.button{
    border:none;
    background-color:rgb(237, 242, 250);
    color:rgb(58, 129, 242);
    border:1px solid rgba(58, 129, 242, 0.5);
    border-radius: .3em;
    padding: 0.5em;
    font-size: 0.8rem;
    font-weight:600;
    text-decoration: none;
    margin-right: 0.8rem;
    font-weight:400;
}
.button:active{
    transform:scale(0.95);
}
.button:hover{
    cursor:pointer;
}

.notebook-entries{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    border-right: 1px solid rgba(126, 167, 250, 0.8);
    border-radius: 4px;
    height:600px;
    overflow:auto;
    width:40%;
}

.notebook-header{
    display:flex;
    position: sticky;
    top:0;
    z-index: 1;
    color:rgb(148, 187, 249);
    border-bottom:1px solid rgba(216, 212, 213, 0.8);
    margin-bottom: 16px; 
    font-size: 0.7rem;
    background-color:rgb(201, 216, 241);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
    padding: 16px;
}

.notebook-header h2{
    margin-bottom:0;
}

.options{
    cursor:pointer;
    transform: scale(.70);
}

.fa-edit:active{
    transform: scale(.68);
    
}
.fa-trash-alt:active{
    transform: scale(.68);
    
}

table {
    border:none;
    border-collapse: separate;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 8px;
    overflow: auto;
    border-spacing:0 6px;
    width:90%;
}

thead{
    font-size:0.8rem;
    font-weight: 500;
    color:rgb(148, 187, 249);
}


td{
    padding: 16px 8px;
    text-align: center;
    font-size:0.7rem;
    font-weight: 400;
    color:rgb(96, 144, 222);
}

td:last-of-type {
    text-align: center;
  }

tbody > tr:nth-of-type(even) {
    background-color: rgb(228, 235, 247);
}

tbody > tr:nth-of-type(odd) {
    background-color: rgb(211, 224, 246);
}

i{
    cursor:pointer;
}
.actions{
    color:rgb(68, 133, 244);
    display:flex;
    justify-content: center;
    align-items: center;
}
.actions i{
    margin:0.2em;
}

.notebook-single-tr:hover{
    background-color: hsl(225, 100%, 88%);
}

.create-note-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.create-note-image{
    width:20%;
    height:auto;
}

.account-tab{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height:3rem;
    background-color: rgb(121, 166, 243);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#no-notebook-entries{
    display:flex;
    flex-direction: column;
    align-items: center ;
    justify-content:end;
    color: rgb(121, 166, 243);
    width:100%;
    height:auto;
    margin-top: 2.5rem;
}

.note-image{
    width:5rem;
    height: auto;
}

#no-notebook-entries p {
    font-size: 0.8rem;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    position: absolute;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgb(157, 189, 246);
    z-index:2;
    background-color:rgb(237, 242, 250);
    border-radius: 4px;
}

.dropdown-content a {
    color: rgb(121, 166, 243);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: hsl(225, 100%, 88%);
}

.show {
    display:block;
}