body{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 230, 169);
    color: #659287;
    font-family: Tahoma, sans-serif;
    
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #DEAA79;
    width:700px;
    border-radius: 36px;
}

.notebook-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;

}

.title-field{
    width: 150px;
    margin-bottom: 36px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.description-field{
    text-align: left;
    width: 400px;
    height:auto;
    margin-bottom: 36px;
    border-radius: 8px;
    line-height:1.5;
    border: none;

}

.button{
    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
    padding:8px;
    margin-top:4px;
}

#button-container-top{
    display:flex; 
    flex-flow: column;
    align-items: center;
    margin-top: 16px;
    width: 100px;
    background-color:#DEAA79 ;
    border-radius: 16px;
}

#button-container-bottom{
    display:flex;
    background-color:#DEAA79 ;
    width: 200px;
    margin-top:4px;
    border-radius: 16px;
    align-items: center;
    padding:10px;
    justify-content: space-around;
}

.search-text{
    height:20px;
    margin-top: 10px;
}

